* {
  font-family: 'Raleway', sans-serif;
}

.fade-hidden {
  opacity: 0;
  transform: translateY(50%);
  transition: all 1s;
}

.fade-show {
  opacity: 1;
  transform: translateX(0);
}

.fade-navbar:nth-child(1) {
  transition-delay: 100ms;
}

.fade-navbar:nth-child(2) {
  transition-delay: 200ms;
}

.fade-navbar:nth-child(3) {
  transition-delay: 300ms;
}

.fade-navbar:nth-child(4) {
  transition-delay: 400ms;
}

.fade-navbar:nth-child(5) {
  transition-delay: 500ms;
}

.fade-navbar:nth-child(6) {
  transition-delay: 500ms;
}

.fade-intro:nth-child(1) {
  transition-delay: 100ms;
}

.fade-intro:nth-child(2) {
  transition-delay: 200ms;
}

.fade-intro:nth-child(3) {
  transition-delay: 300ms;
}

.fade-about:nth-child(1) {
  transition-delay: 100ms;
}

.fade-about:nth-child(2) {
  transition-delay: 200ms;
}

.fade-skills:nth-child(2) {
  transition-delay: 300ms;
}

.fade-skills:nth-child(3) {
  transition-delay: 400ms;
}

.fade-skills:nth-child(4) {
  transition-delay: 500ms;
}

.fade-skills:nth-child(5) {
  transition-delay: 600ms;
}

.fade-skills:nth-child(6) {
  transition-delay: 700ms;
}

.fade-skills:nth-child(7) {
  transition-delay: 800ms;
}

.fade-experience:nth-child(1) {
  transition-delay: 100ms;
}

.fade-experience:nth-child(2) {
  transition-delay: 100ms;
}

.fade-experience:nth-child(3) {
  transition-delay: 100ms;
}

.fade-experience:nth-child(4) {
  transition-delay: 100ms;
}

.fade-experience:nth-child(5) {
  transition-delay: 100ms;
}

.fade-experience:nth-child(5) {
  transition-delay: 100ms;
}

.fade-projects:nth-child(1) {
  transition-delay: 100ms;
}

.fade-projects:nth-child(2) {
  transition-delay: 0ms;
}

.fade-projects:nth-child(3) {
  transition-delay: 100ms;
}

.fade-projects:nth-child(4) {
  transition-delay: 200ms;
}

.fade-projects:nth-child(5) {
  transition-delay: 300ms;
}

.fade-projects:nth-child(6) {
  transition-delay: 400ms;
}

.fade-projects:nth-child(7) {
  transition-delay: 0ms;
}

.fade-projects:nth-child(8) {
  transition-delay: 100ms;
}

.fade-projects:nth-child(9) {
  transition-delay: 200ms;
}

.fade-projects:nth-child(10) {
  transition-delay: 300ms;
}

.fade-projects:nth-child(11) {
  transition-delay: 400ms;
}

.fade-projects:nth-child(12) {
  transition-delay: 0ms;
}

.fade-projects:nth-child(13) {
  transition-delay: 100ms;
}

.fade-projects:nth-child(14) {
  transition-delay: 200ms;
}

.fade-projects:nth-child(15) {
  transition-delay: 300ms;
}

.fade-projects:nth-child(16) {
  transition-delay: 0ms;
}

.fade-projects:nth-child(17) {
  transition-delay: 100ms;
}

.fade-projects:nth-child(18) {
  transition-delay: 200ms;
}

.fade-projects:nth-child(19) {
  transition-delay: 300ms;
}

.fade-projects:nth-child(20) {
  transition-delay: 0ms;
}

.fade-projects:nth-child(21) {
  transition-delay: 100ms;
}

.fade-projects:nth-child(22) {
  transition-delay: 200ms;
}

.fade-projects:nth-child(23) {
  transition-delay: 300ms;
}

.fade-projects:nth-child(24) {
  transition-delay: 0ms;
}

.fade-projects:nth-child(25) {
  transition-delay: 100ms;
}

.fade-projects:nth-child(26) {
  transition-delay: 200ms;
}

.fade-projects:nth-child(27) {
  transition-delay: 300ms;
}

.fade-connect:nth-child(1) {
  transition-delay: 100ms;
}

.fade-connect:nth-child(2) {
  transition-delay: 300ms;
}

.fade-connect:nth-child(3) {
  transition-delay: 400ms;
}

.fade-connect:nth-child(4) {
  transition-delay: 500ms;
}